/* Import de tipografia */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Variables */

:root {
  --bgColor: #fdf9f3;
  --textColor: #3e2c1c;
  --btnPrimary: #6b8e77;
  --font-Title: "Playfair Display", serif;
  --font-Paragraph: "Open Sans", sans-serif;
}

/* Generales  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-Paragraph);
  scroll-behavior: smooth;
  & a {
    text-decoration: none;
    color: var(--textColor);
  }

  ul {
    list-style: none;
  }
}

body {
  background-color: var(--bgColor);
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input,
button {
  outline: none;
  border: none;
}

.section {
  width: 100%;
  max-width: 1440px;
  padding: 20px 24px;
}

@media (width <= 470px) {
  .section {
    width: 100%;
    max-width: 1440px;
    padding: 12px 8px;
  }
}

.section_title {
  font-family: var(--font-Title);
  font-size: 32px;
  color: var(--textColor);
}
/* NavBar  */

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_container {
  max-width: 1440px;
  padding: 20px 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_icon {
  width: 84px;
}

.nav_container_links {
  display: flex;
  gap: 18px;
}

.nav_container_links_link {
  font-size: 16px;
  font-weight: 600;
}
.nav_container_links_link-active {
  font-size: 18px;
  font-weight: 600;
  border-bottom: 2.5px solid var(--textColor);
}

@media (width <= 768px) {
  .nav_container_links {
    display: none;
  }
  .navbar_container {
    justify-content: center;
  }

  .navbar_icon {
    width: 180px;
  }
}

@media (width <= 470px) {
  .navbar_icon {
    width: 64px;
  }
}

/* Seccion Principal */

.hero-section {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}

.hero_section_header {
  position: relative;
  width: 1040px;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero_section_header_title {
  font-size: 48px;
  max-width: 100%;
  width: 24ch;
  font-family: var(--font-Title);
  color: var(--textColor);
}

.hero_section_header_pg {
  margin-top: 16px;
  color: var(--textColor);
  font-size: 18px;
  font-weight: 600;
  max-width: 100%;
  width: 80ch;
}

.hero_section_header_btn {
  display: inline-block;
  width: max-content;
  margin-top: 26px;
  color: var(--bgColor);
  background: var(--btnPrimary);
  padding: 6.5px 28px;
  font-weight: 600;
}

.hero_section_footer_svg {
  width: 400px;
  position: absolute;
  right: 0;
  z-index: -10;
}

@media (width <= 400px) {
  .hero-section {
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: center;
  }

  .hero_section_header_title {
    font-size: 32px;
  }

  .hero_section_header_pg {
    font-size: 16px;
  }

  .hero_section_footer_svg {
    width: 180px;
    position: absolute;
    right: 0;
    z-index: -10;
  }

  .hero_section_header_btn {
    margin-top: 42px;
  }
}

/* Seccion Categorias */

.category_section_footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  margin-top: 44px;
}

.category_section_footer_card {
  background-color: var(--btnPrimary);
  padding: 14px 18px;
  border-radius: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--bgColor);
}
.category_section_footer_card h2 {
  font-family: var(--font-Title);
}

.category_section_footer_card_pg {
  font-size: 16px;
  font-weight: 600;
  flex-grow: 1;
  margin-top: 10px;
}

.category_section_footer_card_pic {
  width: 100%;
  display: flex;
  justify-content: end;
}

.category_section_footer_card_icon {
  width: 56px;
  height: 56px;
}

@media (width <= 400px) {
  .category_section_footer {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

/* Seccion Libros Destacados */

.books_section_footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 44px;
}

.books_section_footer_card {
  display: flex;
  flex-direction: column;
}

.books_section_footer_img {
  width: 100%;
  object-fit: cover;
  height: 400px;
}

.books_section_footer_title {
  font-size: 18px;
  font-family: var(--font-Title);
  font-weight: 800;
  margin-top: 12px;
}

.books_section_footer_subtitle {
  font-size: 14px;
  font-weight: 500;
  margin-top: 4px;
}

/* Seccion Testimonios */

.views_section_footer {
  width: 100%;
  display: grid;
  gap: 14px;
  grid-template-areas:
    "top top"
    "left right"
    "bottom bottom";
  margin-top: 44px;
}

.views_section_footer_card {
  background-color: var(--btnPrimary);
  border-radius: 10px;
  padding: 24px;
  color: var(--bgColor);
  display: flex;
  flex-direction: column;
  height: 160px;
}

.views_section_footer_card_title {
  font-weight: 600;
  flex-grow: 1;
}

.--top {
  grid-area: top;
}

.--left {
  grid-area: left;
}

.--right {
  grid-area: right;
}

.--bottom {
  grid-area: bottom;
}

.views_section_footer_card_contain {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media (width <= 470px) {
  .views_section_footer_card {
    height: max-content;
    gap: 12px;
  }

  .views_section_footer {
    grid-template-areas:
      "top top"
      "left left"
      "right right"
      "bottom bottom";
  }
}

/* Section Newsletter */

.newsletter_section_footer {
  background-image: url("./assets/img/Newsletter.webp");
  background-position: center;
  background-size: cover;
  height: 280px;
  margin-top: 44px;
}

.newsletter_section_footer_contain {
  backdrop-filter: brightness(60%);
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--bgColor);
}

.newsletter_section_footer_title {
  font-size: 26px;
}

.newsletter_section_footer_subtitle {
  font-size: 20px;
  margin-top: 4px;
  text-align: center;
}

.newsletter_section_footer_contain_input {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
}

.newsletter_section_footer_input {
  border-radius: 12px 0px 0px 12px;
  padding: 0px 8px;
  max-width: 100%;
}

.newsletter_section_footer_btn {
  padding: 10px 8px;
  max-width: 100%;
  background-color: var(--btnPrimary);
  font-weight: 700;
  color: var(--bgColor);
  border-radius: 0px 12px 12px 0px;
  font-size: 16px;
  cursor: pointer;
}

@media (width <= 470px) {
  .newsletter_section_footer_contain {
    height: 320px;
  }
  .newsletter_section_footer_subtitle {
    font-size: 16px;
    margin-top: 4px;
    text-align: center;
  }

  .newsletter_section_footer_btn {
    padding: 8px;
  }

  .newsletter_section_footer_contain {
    gap: 8px;
  }
}

/* Footer */

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 44px;
}

.footer_container {
  width: 100%;
  max-width: 1440px;
  padding: 12px 24px;
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.footer_container_navbar_icon {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: start;
}
.container_links {
  display: flex;
  gap: 18px;
  align-items: center;
}

.footer_aside_links {
  width: max-content;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.footer_aside_link {
  display: flex;
  justify-content: center;
  padding: 4px 12px;
  background-color: var(--btnPrimary);
  border-radius: 50%;
  height: 26px;
  width: 26px;
}

.footer_container_aside {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 14px;
  width: 100%;
}

.footer_aside_pg {
  font-size: 16px;
  font-weight: 600;
}

@media (width <= 470px) {
  .footer_container {
    padding: 12px 8px;
    flex-wrap: wrap;
  }

  .footer_container_navbar_icon {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
